* {
  font-family: "Roboto", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-left: 40px;
  margin-right: 60px;
  margin-top: 20px;
}

.hero {
  display: flex;
  margin: 40px;
}

.navlinks {
  display: flex;
  gap: 15px;
}

.servicetag {
  display: flex;
  justify-content: center;
}

.infoimages {
  display: flex;
  justify-content: space-around;
}

.quote {
  display: flex;
  flex-direction: column;
  margin: 50px;
}

.quotetag {
  display: flex;
  justify-content: flex-end;
}
