* {
  font-family: "Roboto", sans-serif;
}

.fulltop {
  background-color: #1f2937;
}

.header {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}

.mainherotext {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  width: 500px;
}

.topleft {
  font-size: 36px;
  color: #f9faf8;
}

.hero {
  display: flex;
  background-color: #1f2937;
  margin: 50px;
  justify-content: space-around;
  padding: 20px;
}

.herosubtext {
  color: #e5e7eb;
  font-size: 18px;
  width: 550px;
}

.ourservices {
}

.navlinks {
  display: flex;
  gap: 15px;
  font-size: 18px;
  color: #e5e7eb;
}

.servicetag {
  display: flex;
  justify-content: center;
}

.infoimages {
  display: flex;
  justify-content: space-around;
}

.imagewrap {
  border: 5px solid #555;
}

.quote {
  display: flex;
  flex-direction: column;
  margin: 50px;
}

.quotetag {
  display: flex;
  justify-content: flex-end;
}

.sign-up {
  background-color: #3882f6;
  color: white;
}
